@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --text-primary: #000000;
    --text-secondary: #696969;

    --bg-primary: rgb(31, 92, 150);
    --bg-secondary: rgb(190, 214, 236);

    --btn-width: 280px;
    --btn-height: 48px;

    --input-width: 280px;
    --input-height: 48px;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
