@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --text-primary: #181818;
    --text-secondary: #696969;
    --black-primary: #000000;
    --white-primary: #fff;

    --bg-primary: #fff;

    --btn-width: 280px;
    --btn-height: 48px;

    --input-width: 280px;
    --input-height: 48px;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    color: var(--text-primary);
  }
}
